body {
    text-align: center;
    background-color: rgb(36, 36, 109);
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color: white;
}

.input{
    width: 450px;
    height: 50px;
    margin: 5px;
    padding: 0px 20px 0px 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
}
.boton-agregar{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
}
.boton-agregar:hover {
    opacity: 0.9;
}

.item-input{
    height: 50px;
    width: 25%;
    padding: 0px 20px 0px 20px;
    border: solid 1px white;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background: none;
    outline: none;
}
.item{
    margin-bottom: 10px;
    
}

.boton-editar{
    border: none;
    background: none;
    margin: 0px 5px 0px 5px;
    color:#62d0ff;
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
}

.boton-remover{
    height: 50px;
    width: 50px;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    background-color: rgb(255, 6, 36);
    font-size: 20px;
    outline: none;
    border: none;
}